
.icon-award:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-floppy:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e804'; } /* '' */
.icon-tags:before { content: '\e805'; } /* '' */
.icon-compass:before { content: '\e806'; } /* '' */
.icon-direction:before { content: '\e807'; } /* '' */
.icon-map:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-cog-outline:before { content: '\e80a'; } /* '' */
.icon-pencil-1:before { content: '\e80b'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */